<h1 class="usernameTitle">{{user.username}}</h1>
<div class="message-area">
	
	<ul class="small-block-grid-1 messages">
		{{#each messages}}
			<li>
				<div class="panel userMessage">
					{{this.sender}}
					<br>
					{{this.message}}
				</div>
			</li>
		{{/each}}
	</ul>

</div>

<form class="messageForm row">
	<input 
	type="hidden" 
	class="receiver" 
	data-receiver="{{user.username}}">
	<textarea class="message small-10 columns"></textarea>
	<input type="submit" class="button radius small-2 columns" id="send" value="Send">
</form>