<div class="medium-8 large-6 columns medium-centered large-centered outer-chat">
	<div class="profileImage left"></div><h1 class="usernameTitle right">{{user}}</h1>

	<div class="message-area">
		
		<ul class="small-block-grid-1 messages"></ul>

	</div>

	<form class="messageForm">
		<input 
		type="hidden" 
		class="receiver" 
		data-receiver="{{user}}">
		<textarea class="message small-9 large-10 columns"></textarea>
		<input type="submit" class="button small-3 large-2 columns" class="Send">
	</form>
</div>