<h1>{{group.name}}</h1>
<div class="message-area">
	
	<ul class="small-block-grid-1 messages">
		{{#each messages}}
			<li>
				<div class="panel userMessage">
					<h3>{{this.sender}} - <span class="subheader">{{this.timestamp}}</span></h3>
					<hr>
					<p>{{this.message}}</p>
				</div>
			</li>
		{{/each}}
	</ul>

</div>

<form class="groupForm">
	<input 
	type="hidden" 
	class="groupReceiver"
	data-id="{{group.id}}" 
	data-group="{{group.name}}">
	<textarea class="message"></textarea>
	<input type="submit" class="button large" value="Send message">
</form>