<div class="large-3 medium-6 small-8 columns large-centered medium-centered small-centered login">
	<div class="panel">
		<h1>Login</h1>
		<div class="login-error"></div>
		<form class="loginForm">
			{{#if username}}
				<input 
				type="text" 
				class="username"
				value="{{username}}" 
				>

			{{else}}
				<input 
				type="text" 
				class="username" >
			{{/if}}
			
			<input type="password" class="password" value="password">
			<input type="submit" class="button radius text-center" value="Login">
		</form>
		
	</div>
</div>