  <div class="row content">
 
    <div class="small-2 left-sidebar columns">
      
      <div class="profile">
        <h5 class="username">{{this.username}}</h5>
      </div>

      <div class="options">
        <ul class="side-nav">
          <li class="contact-button active">Contacts</li>
          <li class="group-button">Groups</li>
          <li class="conversation-button">Conversation</li>
        </ul>
      </div>  

      <div class="list-header">
        Contacts
      </div>

      <div class="search">
        <form>
          <input id="search" autocomplete="off" type="text" placeholder="Search">
        </form>  
      </div>

      <div></div>

      <div class="list">
        <ul class="side-nav Contacts">
          {{#each this.friends}}
            <li
            data-id="{{this.id}}"
            data-username="{{this.username}}"
            class="friend"
            >{{this.username}}</li>
          {{/each}}
        </ul>

        <ul class="side-nav Groups">
          {{#each this.groups}}
            <li
            data-id="{{this.id}}"
            data-name="{{this.groupname}}"
            class="group"
            >{{this.groupname}}</li>
          {{/each}}
        </ul> 

      </div>
      
    </div>

    <div class="small-10 right-sidebar columns">
  
      <div class="chat"></div>
      
    </div>
 
  </div>