/*	
COLORS
*/
$dark-grey: #282C35;
$medium-grey: #33363F;
$light-grey: #33363F;

$green: #00BB8E;

/*
BREAK POINTS
*/	
$break-medium: 40.063em;
$break-large: 64.063em;


body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: url(../img/green-bg.png);
	background-repeat: repeat;
}

.panel {
	margin-bottom: 0 !important;
	border-radius: 20px;
	border: 0px;
	background-color: #FAFAFA;
	border-bottom: 1px solid #DDD;
}

h1, h2 {
	text-align: center;
	color: #BDBDBD;
	font-family: "Open Sans";
	font-weight: 100;
}


input#send{
	margin-top: 0px;
	border-radius: none;
}

textarea{
	border: none;
	border-bottom:1px solid #bababa;
	box-shadow: none;
	background-color: #F7F7F7;
	resize: none;

	&:focus{
		box-shadow: none;	
	}

}

.left-sidebar, .right-sidebar {
	height: 100%;
}

.left-sidebar {
	padding: 0 !important;
}

.content {
	width: 100% !important;
	max-width: 100%;
	height: 100%;
}

.friends {
	height: 100%;
	position: relative;
	display: inline-block;
}

.main {
	height: 100vh;
}

.profile {
	background-color: $dark-grey;
	height: 8%;
	width: 100%;
	padding: 10px;
	margin: 0;
	color: #BBBCC0;
	font-size: 1.1em;

	.username{
		color: white;
		text-align: center;

		@media(max-width: $break-large){
			font-size: 1em;
		}
		@media(min-width: $break-large){
			font-size: 1.8em;
		}
	}

}

.options {
	padding: 20px 0;
	height: 30%;
	background-color: #33363F;
	color: #737375;

	.side-nav li{

		font-size: 1.4em;
		padding: 8px 10%;
		margin: 0;

		&.active{
			border-left: 2px solid #00BB8E;
			background-color: #373A43;
			color: #BBBCC0;
		}
		&:hover{
			background-color: #373A43;
			color: #BBBCC0;
			cursor: pointer;
		}

	}
}

.list-header {
	background-color: #2F323B; /*#2F323B*/
	height: 8%;
	width: 100%;
	padding: 15px 10%;
	margin: 0;
	color: #BBBCC0;
	font-size: 1.4em;
}

.search {
	height: 5%;
}

.search form {
	height: 100%;

	input[type="text"]{

		background-color: #272A31;
		border: none;
		margin: 0;
		box-shadow: none;
		color: #BBBCC0;
		height: 100%;
		
		&::-webkit-input-placeholder{
			font-family: 'foundation-icons';			
		}

	}
}

.list {
	padding: 10px 0;
	height: 49%;
	background-color: #33363F;
	color: #737375;
	overflow-y: scroll;

	&::-webkit-scrollbar{
		width: 12px;
	}

	&::-webkit-scrollbar-track{
		background-color: #33363F;
	}

	&::-webkit-scrollbar-thumb{
		background-color: #00BB8E;	
	}

	.side-nav{

		li{
			font-size: .9em;
			padding: 8px 10%;
			margin: 0;

			.active{
				border-left: 2px solid #00BB8E;
				background-color: #373A43;
				color: #BBBCC0;			
			}		

			&:hover{
				background-color: #373A43;
				color: #BBBCC0;
				cursor: pointer;			
			}

		}

		&:not(:first-child){
			display: none;
		}

	}


}

.login{
	
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;


	h1{
		color: white;
	}

	.panel{
		background: $light-grey;
		border-radius: 1px;
	}

	.button{
		color: $light-grey;
		background: $green;

		&:hover{
			background: darken($green, 5%);
			color: #2F323B;
		}

	}

}

.view{
	height: 100vh;
}

.chat{
	height: 100%;
}

.outer-chat{
	background: rgba(255, 255, 255, 1);
	height: 100%;

	h1{
		color: $medium-grey;
		margin-top: 0;
	}

	.message-area {
		max-height: 80vh;
	}

	.messageForm, .groupForm{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}
}

.size-12 { font-size: 12px; }      
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }