body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.panel {
	margin-bottom: 0 !important;
}

.left-sidebar, .right-sidebar {
	height: 100%;
}

.left-sidebar {
	padding: 0 !important;
}

.content {
	width: 100% !important;
	max-width: 100%;
	height: 100%;
}

.friends {
	height: 100%;
	position: relative;
	display: inline-block;
}

/*.main {
	height: 100%;
}*/

.profile {
	background-color: #282C35;
	height: 8%;
	width: 100%;
	padding: 10px;
	margin: 0;
	color: #BBBCC0;
	font-size: 1.1em;

}

.options {
	padding: 20px 0;
	height: 30%;
	background-color: #33363F;
	color: #737375;
	/*font-size: 2em;*/
}

.options .side-nav li {
	font-size: 1.4em;
	/*margin: 8px 10%;*/
	padding: 8px 10%;
	margin: 0;
}

.options .side-nav li.active {
	border-left: 2px solid #00BB8E;
	background-color: #373A43;
	color: #BBBCC0;
}

.options .side-nav li:hover {
	background-color: #373A43;
	color: #BBBCC0;
	cursor: pointer;
}

.list-header {
	background-color: #2F323B; /*#2F323B*/
 	height: 8%;
	width: 100%;
	padding: 15px 10%;
	margin: 0;
	color: #BBBCC0;
	font-size: 1.4em;
}

.search {
	height: 5%;
}

.search form {
	height: 100%;
}

.search input[type="text"] {
	background-color: #272A31;
	border: none;
	margin: 0;
	box-shadow: none;
	color: #BBBCC0;
	height: 100%;
}

.list ::-webkit-scrollbar {
    width: 12px;
    margin-right: 1px;
}
 
.list ::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgb(0,187,142); */
    background-color: #33363F;
    /*border-radius: 10px;*/
}
 
.list ::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    background-color: #00BB8E;
    /*background-color: #009F79;*/
}

.list {
	padding: 10px 0;
	height: 49%;
	background-color: #33363F;
	color: #737375;
	overflow-y: scroll;
}

.list .side-nav {
	/*overflow-y: scroll;*/
}

.list .side-nav li {
	font-size: .9em;
	/*margin: 8px 10%;*/
	padding: 8px 10%;
	margin: 0;
}

.list .side-nav li.active {
	border-left: 2px solid #00BB8E;
	background-color: #373A43;
	color: #BBBCC0;
}

.list .side-nav li:hover {
	background-color: #373A43;
	color: #BBBCC0;
	cursor: pointer;
}